@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  min-width: 100%;
  min-height: 100%;

  font-family: 'Pretendard Variable';
}

* {
  /* MW touch highlight 제거 */
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  box-sizing: border-box;
}

@layer components {
  @media print {
    body {
      @apply bg-white;
    }
  }

  @page {
    margin: 1cm;
  }
}

body::-webkit-scrollbar {
  @apply w-4 bg-transparent dark:bg-slate-900;
}

body::-webkit-scrollbar-thumb {
  @apply rounded-full border-4 border-solid border-transparent bg-slate-300 bg-clip-padding dark:bg-slate-700;
}
